<%= form_for([@event, @entry]) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <b><%= "#{Event.model_name.human}#{column_attr :name, :event}" %></b>
    <%= @event.name %>
  </p>

  <p>
    <b><%= "#{Event.model_name.human}#{column_attr :date_on, :event}" %></b>
    <%= l(@event.date_on) unless @event.date_on.blank? %>
  </p>

  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.select :member_id, @members.collect{|m| [m.name, m.id]} %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
