<h1>エントリー 一覧</h1>

<table>
  <tr>
    <th>イベント</th>
    <th>メンバー</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.event_id %></td>
    <td><%= entry.member_id %></td>
    <td><%= link_to '確認', entry ,:method => :get %></td>
    <td><%= link_to '修正', edit_entry_path(entry) %></td>
    <td><%= link_to '削除', entry, :confirm => '削除してもよろしいですか?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新規登録', new_entry_path %>
