<p id="notice"><%= notice %></p>

<p>
  <b>イベント</b>
  <%= @entry.event_id %>
</p>

<p>
  <b>メンバー</b>
  <%= @entry.member_id %>
</p>


<%= link_to '修正', edit_entry_path(@entry) %> |
<%= link_to '戻る', entries_path %>
