<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @entry.event %>
</p>

<p>
  <b>Member:</b>
  <%= @entry.member %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
