<h1><%= page_title %></h1>

<table class="list">
  <tr>
    <%- [:date_on, :name, :place, :contents].each do |c| -%>
    <th><%= column_attr c %></th>
    <%- end -%>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= l event.date_on unless event.date_on.blank? %></td>
    <td><%= link_to event.name ,event %></td>
    <td><%= event.place %></td>
    <td><%= truncate(event.contents, :length => 10) %></td>
    <td><%= button_to t('nav.edit'), edit_event_path(event), :method => :get %></td>
    <td><%= button_to t('nav.destroy'), event, :confirm => '削除しますがよろしいですか?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= paginate @events %>

<br />

<%#= link_to 'Entry', event_entries_path %>
