<h1>Listing events</h1>

<table>
  <tr>
    <th>Date on</th>
    <th>Name</th>
    <th>Place</th>
    <th>Contents</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.date_on %></td>
    <td><%= event.name %></td>
    <td><%= event.place %></td>
    <td><%= event.contents %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
