<h1>イベント 一覧</h1>

<table>
  <tr>
    <th>日付</th>
    <th>名称</th>
    <th>場所</th>
    <th>内容</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.date_on %></td>
    <td><%= link_to event.name ,event_entries_path(event) %></td>
    <td><%= event.place %></td>
    <td><%= event.contents %></td>
    <td><%= button_to '確認', event,:method => :get %></td>
    <td><%= link_to '修正', edit_event_path(event) %></td>
    <td><%= link_to '削除', event, :confirm => '削除しますがよろしいですか?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'Entry', event_entries_path %>
