<h1><%= page_title %></h1>

<table class="list">
  <tr>
    <%- [:name, :email, :twitter_id, :pr].each do |c| -%>
    <th><%= column_attr c %></th>
    <%- end -%>
    <th><br/></th>
    <th><br/></th>
    <th><br/></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= link_to member.name, member %></td>
    <td><%= member.email %></td>
    <td><%= link_to image_tag("http://img.tweetimag.es/i/#{member.twitter_id}_m"), "http://twitter.com/#!/#{member.twitter_id}", :'data-popup' => true unless member.twitter_id.blank? %></td>
    <td><%= truncate(member.pr, :length => 10) %></td>
    <td><%= button_to t('nav.edit'), edit_member_path(member), :method => :get %></td>
    <td><%= button_to t('nav.destroy'), member, :confirm => '削除してもよろしいですか?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= paginate @members %>
<br />


