<h1><%= page_title %></h1>

<table class="list">
  <tr>
    <%- [:name, :address, :email, :twitter_id, :blog, :birthday, :pr].each do |c| -%>
    <th><%= column_attr c %></th>
    <%- end -%>
    <th><br/></th>
    <th><br/></th>
    <th><br/></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.address %></td>
    <td><%= member.email %></td>
    <td><%= member.twitter_id %></td>
    <td><%= member.blog %></td>
    <td><%= member.birthday %></td>
    <td><%= member.pr %></td>
    <td><%= button_to t('nav.show'), member ,:method => :get %></td>
    <td><%= link_to t('nav.edit'), edit_member_path(member) %></td>
    <td><%= link_to t('nav.destroy'), member, :confirm => '削除してもよろしいですか?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= paginate @members %>
<br />


