<p id="notice"><%= notice %></p>

<p>
  <b>名前</b>
  <%= @member.name %>
</p>

<p>
  <b>住所</b>
  <%= @member.address %>
</p>

<p>
  <b>E-Mail</b>
  <%= @member.email %>
</p>

<p>
  <b>Twitter</b>
  <%= @member.twitter_id %>
</p>

<p>
  <b>ブログURL</b>
  <%= @member.blog %>
</p>

<p>
  <b>誕生日</b>
  <%= @member.birthday %>
</p>

<p>
  <b>自己紹介</b>
  <%= @member.pr %>
</p>


<%= link_to '修正', edit_member_path(@member) %> |
<%= link_to '戻る', members_path %>
