<p id="notice"><%= notice %></p>

<p>
  <b><%= column_attr :name %></b>
  <%= @member.name %>
</p>

<p>
  <b><%= column_attr :address %></b>
  <%= @member.address %>
</p>

<p>
  <b><%= column_attr :email %></b>
  <%= @member.email %>
</p>

<p>
  <b><%= column_attr :twitter_id %></b>
  <%= @member.twitter_id %>
</p>

<p>
  <b><%= column_attr :blog %></b>
  <%= @member.blog %>
</p>

<p>
  <b><%= column_attr :birthday %></b>
  <%= @member.birthday %>
</p>

<p>
  <b><%= column_attr :pr %></b>
  <%= @member.pr %>
</p>

<div>参加イベントリスト</div>
<% unless @member.events.blank? -%>
<table class="list">
  <tr>
    <th>No.</th>
    <th><%= column_attr :name, :event %></th>
    <th><%= column_attr :date_on, :event %></th>
    <th><br/></th>
  </tr>
  <% @member.entries.each_with_index do |entry, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= entry.event.name %></td>
      <td><%= l(entry.event.date_on) %></td>
      <td><%= button_to t('nav.cancel'), {:controller => :entries, :action => :destroy, :member_id => params[:id], :id => entry}, :method => :delete %></td>
    </tr>
  <% end %>
</table>
<% else -%>
<p class="notice">現在参加しているイベントはありません。</p>
<% end -%>

<%= link_to t('nav.edit'), edit_member_path(@member) %> |
<%= link_to t('nav.back'), members_path %>
